<!DOCTYPE html>
<html>
  <head>
    <title>NeverEverNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%# <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap" rel="stylesheet"> %>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">

    <script type="text/javascript">
      window.logoURL = "<%= image_url('evernoteLogo.png') %>";
      window.patternURL = "<%= image_url('pattern.png') %>";
      window.homepageURL = "<%= image_url('mainpage.png')  %>"
      window.notesURL = "<%= image_url('notes.png') %>"
      window.tagURL = "<%= image_url('green-tags.png') %>"
    </script>
    

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <%= yield %>
  </body>
</html>